name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run ktlintFormat
        run: ./gradlew ktlintFormat

      - name: Run ktlintCheck
        run: ./gradlew ktlintCheck

      - name: Run tests
        run: ./gradlew kotest

      - name: Build release binary
        run: ./gradlew linkReleaseExecutableLinuxX64
